.characterContainer {
    height: 84%;
    aspect-ratio: 1/1;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 800px) {
    .characterContainer {
        height: 45%;
    }
}

.characterFigure {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: absolute;

    margin: 0;
}

.characterFigure>img{
    width: 70%;
    height: auto;
}

.context{
    font-size: 70%;
    opacity: 0.7;

    text-align: center;
}