.interactionContainer {
    height: 34vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.btn {
    background-color: var(--bluePastel);
    color: inherit;
}

.btn:hover {
    background-color: var(--lilacPastel);
    color: white;
}